
.ErrorView {
  button {
    background: var(--btn-bg);
    color: var(--btn-text-color);
  }
}

.ErrorView__error__text {
  cursor: pointer;
  text-decoration: underline;
}

.ErrorView__detailed-dialog {
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
  }
}

.ErrorView__details {
  position: relative;

  .ErrorView__details__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
  }

  & > p:nth-of-type(1) {
    margin-block-start: 0;
  }
}
